<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <httpHandlers>
      <!-- Desconfigura os handles definidos pelo produto certo no diretório pai -->
      <remove verb="*" path="*.ashx"/>
      <remove verb="*" path="*.aspx"/>
      <remove verb="*" path="image.axd"/>
      <remove verb="GET" path="FtbWebResource.axd"/>
      <!-- Configuração padrao do ASP.Net -->
      <add path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" validate="True"/>
      <add path="*.ashx" verb="*" type="System.Web.UI.SimpleHandlerFactory" validate="True"/>
    </httpHandlers>
    <!-- ATENÇÃO  ==== ASP.Net 3.5! ====
         ===============================
         A maioria dos exemplos funcionan com o ASP.Net 2.0, remova os exemplos do ASP.Net 3.5, e gere um novo Web.Config compativel com o .Net 2.0
         ===============================
         Geralmente os servidores que hospedam sites, usam sistema operacional em ingles.
         Por isso o formato de data e hora padrão é Mes/Dia/Ano
         Para que o ASP.Net gere data no formato Dia/Mes/Ano a configuração abaigo em "globalization" é obrigatória
         -->
    <globalization fileEncoding="iso-8859-15" requestEncoding="iso-8859-15" responseEncoding="iso-8859-15" culture="pt-BR" uiCulture="pt-BR"/>
    <!-- O ValidateRequest não é obrigatório no projeto final
         Aqui ele só é habilitado para que o programa de Expressão regular funcione -->
    <trace enabled="true" pageOutput="false" localOnly="true" requestLimit="50"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <system.webServer>
    <handlers>
      <remove name="ProdutoCertoPages"/>
      <remove name="ProdutoCertoHandles"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>